body {
    background: #0f1115;
    color: #00ffcc;
    font-family: Arial;
    text-align: center;
}

h1 {
    text-shadow: 0 0 15px #00ffcc;
}

.search-box {
    margin: 20px;
}

input, button {
    padding: 10px;
    background: #111;
    color: #00ffcc;
    border: 2px solid #00ffcc;
}

.card {
    width: 420px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px #00ffcc;
}

.hidden {
    display: none;
}

img {
    width: 100%;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 15px 0;
}

.grid div {
    background: #111;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px #00ffcc;
}
